:root{
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

*{
  box-sizing: border-box;
}

@import url('https://fonts.google.com/specimen/Space+Mono:wght@700;500;600;800&display=swap');

html, body{
  margin: 0;
}

body{
  background: var(--Light-grayish-cyan);
  
}

body, button, input{
  font-family: 'Space Mono', sans-serif;
}

.main{
  background: var(--White);
  display: flex;
  width: 600px;
  height: 350px;
  border-radius: 20px;
  margin: auto;
  margin-top: 150px;
  padding: 25px;
  color: var(--Dark-grayish-cyan);
}

.bill, .tip{
  margin-bottom: 30px;
}

.bill p, .tip p, .number-of-people p{
  margin-bottom: 10px;
}

.main .tip-button{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 200px;
  width: 250px;
}

.main .information .bill #valorTotal, .main .information .number-of-people #numeroPessoas  {
  color: var(--Very-dark-cyan);
  font-weight: 800;
}

input{
  outline: none;
}

.main .information .bill #valorTotal:focus{
  border: 2px solid var(--Very-dark-cyan);
}

.main .tip-button #tip-custom{
  background: var(--Very-light-grayish-cyan);
  color: var(--Dark-grayish-cyan);
  text-align: center;
}

.main .tip-button button, .main .tip-button input{
  width: 75px;
  height: 27px;
  margin-top: 8px;
  margin-right: 8px;
  background: var(--Very-dark-cyan);
  border: none;
  border-radius: 5px;
  color: var(--White);
  font-weight: 700;
}

.bill input, .number-of-people input{
  background: var(--Very-light-grayish-cyan);
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 5px;
}

.main .result{
  height: 300px;
  width: 260px;
  background: var(--Very-dark-cyan);
  margin-left: 30px;
  border-radius: 15px;
  color: var(--White);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main .result button{
  margin: 30px;
  margin-bottom: 10px;
  width: 200px;
  height: 30px;
  background:hsl(183, 62%, 36%);
  border: none;
  border-radius: 5px;
  color: var(--White);
  font-weight: 700;
}

.main .result .tip-amount, .main .result .total{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main .result .tip-amount .price-amount, .main .result .total .price-total{
  font-size: 25px;
  margin-right: 20px;
  color: aqua;
}

.main .result .tip-amount p, .main .result .total p {
  margin-left: 20px;
}

.error{
  font-size: 10px;
  margin: 0;
  color: red;
}

.tip-button button.active{
  background: hsl(183, 62%, 36%);
  color: var(--Very-dark-cyan);
}

@media (max-width: 630px){
  .main{
    display: flex;
    width: 100%;
    height : 790px;
    margin : 50px auto;
    flex-wrap: wrap;
    padding: auto;
  }

  

  .main .information .bill input{
    width: 100%;
  }

  .main .result{
    margin: 0 auto;
    width: 95%;
  }
}